@import 'tailwindcss';
@import 'tw-animate-css';

/* Common props for component: color, variant, size */
/* Colors (neutral by default): primary|neutral|positive|warning|critical */
/* Variants by color: solid|faded|outline|ghost */
/* Size: x|sm|md|lg|xl */
@import './themes/default.css';
@import './themes/modern.css';

:root {
  /* Typography - font family */
  --ui-font-sans: system-ui, -apple-system, Inter, Roboto, Aptos, Helvetica, Arial, sans-serif;
  --ui-font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Typography - font size */
  --ui-font-size-base: 14px; /* Base font size for UI */
  --ui-font-size-editor: 13px; /* Base font size for editor/monospace */
  --ui-text-xs: 0.75rem /* 12px */;
  --ui-text-sm: 0.875rem /* 14px */;
  --ui-text-base: 1rem /* 16px */;
  --ui-text-lg: 1.125rem /* 18px */;
  --ui-text-xl: 1.25rem /* 20px */;
  --ui-text-2xl: 1.375rem /* 22px */;
  --ui-text-3xl: 1.75rem /* 28px */;
  --ui-text-4xl: 2.25rem /* 36px */;
  --ui-text-5xl: 2.75rem /* 44px */;
  --ui-text-6xl: 3.25rem /* 52px */;
  --ui-text-7xl: 3.75rem /* 60px */;
  --ui-text-8xl: 5.5rem /* 88px */;
  --ui-text-9xl: 6.5rem /* 104px */;

  --spinner-light: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23F7F7F8' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --spinner-dark: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23161718' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  --chevron-right-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  --chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  --chevron-down-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");

  /* Border Radius */
  --ui-radius: 0.625rem; /* Base radius 10px */
  --ui-radius-xs: max(0.5rem, calc(var(--ui-radius) - 0.25rem));
  --ui-radius-sm: calc(var(--ui-radius) + 0.05rem);
  --ui-radius-md: var(--ui-radius);
  --ui-radius-lg: calc(var(--ui-radius) + 0.2rem);
  --ui-radius-xl: calc(var(--ui-radius) + 0.4rem);

  /* Common colors across all themes */
  --ui-color-black: oklch(0 0 0);
  --ui-color-white: oklch(1 0 0);

  /* Elevation */
  --ui-shadow-raised: 0px 2px 8px -2px rgba(0, 0, 0, 0.08), 0px 4px 16px -4px rgba(0, 0, 0, 0.04);
  --ui-shadow-overlay:
    0px 8px 24px -4px rgba(0, 0, 0, 0.08), 0px 16px 48px -8px rgba(0, 0, 0, 0.04);
}

@theme inline {
  /* Color schemes */
  --color-black: var(--ui-color-black);
  --color-white: var(--ui-color-white);

  --color-on-background-neutral: var(--ui-color-on-background-neutral);
  --color-on-background-primary: var(--ui-color-on-background-primary);
  --color-on-background-positive: var(--ui-color-on-background-positive);
  --color-on-background-critical: var(--ui-color-on-background-critical);
  --color-on-background-warning: var(--ui-color-on-background-warning);

  --color-background-page: var(--ui-color-background-page);
  --color-background-page-faded: var(--ui-color-background-page-faded);
  --color-background-neutral: var(--ui-color-background-neutral);
  --color-background-neutral-faded: var(--ui-color-background-neutral-faded);
  --color-background-primary: var(--ui-color-background-primary);
  --color-background-primary-faded: var(--ui-color-background-primary-faded);
  --color-background-positive: var(--ui-color-background-positive);
  --color-background-positive-faded: var(--ui-color-background-positive-faded);
  --color-background-critical: var(--ui-color-background-critical);
  --color-background-critical-faded: var(--ui-color-background-critical-faded);
  --color-background-warning: var(--ui-color-background-warning);
  --color-background-warning-faded: var(--ui-color-background-warning-faded);
  --color-background-disabled: var(--ui-color-background-disabled);
  --color-background-disabled-faded: var(--ui-color-background-disabled-faded);
  --color-background-elevation-base: var(--ui-color-background-elevation-base);
  --color-background-elevation-raised: var(--ui-color-background-elevation-raised);
  --color-background-elevation-overlay: var(--ui-color-background-elevation-overlay);

  --color-foreground-neutral: var(--ui-color-foreground-neutral);
  --color-foreground-neutral-faded: var(--ui-color-foreground-neutral-faded);
  --color-foreground-primary: var(--ui-color-foreground-primary);
  --color-foreground-positive: var(--ui-color-foreground-positive);
  --color-foreground-critical: var(--ui-color-foreground-critical);
  --color-foreground-warning: var(--ui-color-foreground-warning);
  --color-foreground-disabled: var(--ui-color-foreground-disabled);

  --color-border-neutral: var(--ui-color-border-neutral);
  --color-border-neutral-faded: var(--ui-color-border-neutral-faded);
  --color-border-primary: var(--ui-color-border-primary);
  --color-border-primary-faded: var(--ui-color-border-primary-faded);
  --color-border-positive: var(--ui-color-border-positive);
  --color-border-positive-faded: var(--ui-color-border-positive-faded);
  --color-border-critical: var(--ui-color-border-critical);
  --color-border-critical-faded: var(--ui-color-border-critical-faded);
  --color-border-warning: var(--ui-color-border-warning);
  --color-border-warning-faded: var(--ui-color-border-warning-faded);
  --color-border-disabled: var(--ui-color-border-disabled);

  /* Elevation */
  --shadow-raised: var(--ui-shadow-raised);
  --shadow-overlay: var(--ui-shadow-overlay);

  /* Border Radius */
  --radius: var(--ui-radius);
  --radius-xs: var(--ui-radius-xs);
  --radius-sm: var(--ui-radius-sm);
  --radius-md: var(--ui-radius-md);
  --radius-lg: var(--ui-radius-lg);
  --radius-xl: var(--ui-radius-xl);

  /* Typography */
  --font-sans: var(--ui-font-sans);
  --font-mono: var(--ui-font-mono);
  --text-xs: var(--ui-text-xs);
  --text-sm: var(--ui-text-sm);
  --text-base: var(--ui-text-base);
  --text-lg: var(--ui-text-lg);
  --text-xl: var(--ui-text-xl);
  --text-2xl: var(--ui-text-2xl);
  --text-3xl: var(--ui-text-3xl);
  --text-4xl: var(--ui-text-4xl);
  --text-5xl: var(--ui-text-5xl);
  --text-6xl: var(--ui-text-6xl);
  --text-7xl: var(--ui-text-7xl);
  --text-8xl: var(--ui-text-8xl);
  --text-9xl: var(--ui-text-9xl);
}

@layer base {
  html,
  body {
    @apply antialiased overflow-hidden;
  }
  body {
    @apply bg-background-page text-foreground-neutral text-base font-sans;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: default;
  }
}

@utility debug {
  border-width: 1px;
  border-style: dashed;
  border-color: oklch(0.7294 0.1664 22.22);
}

@utility disable-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@utility force-select {
  -webkit-user-select: all; /* Chrome 49+ */
  -moz-user-select: all; /* Firefox 43+ */
  -ms-user-select: all; /* No support yet */
  user-select: all; /* Likely future */
}

@utility text-selectable {
  -webkit-user-select: text; /* Chrome 49+ */
  -moz-user-select: text; /* Firefox 43+ */
  -ms-user-select: text; /* No support yet */
  user-select: text; /* Likely future */
}
