{
    "$schema": "https://schema.tauri.app/config/2",
    "identifier": "com.crabbycraft.torao",
    "productName": "Torao",
    "version": "0.0.0",
    "build": {
        "removeUnusedCommands": true,
        "beforeDevCommand": "pnpm -s devfront",
        "beforeBuildCommand": "pnpm -s build:ui",
        "frontendDist": "../.output/frontend",
        "devUrl": "http://localhost:1420"
    },
    "app": {
        "macOSPrivateApi": true,
        "withGlobalTauri": true,
        "security": {
            "pattern": {
                "use": "brownfield"
            },
            "csp": null
        },
        "trayIcon": null,
        "windows": []
    },
    "bundle": {
        "active": true,
        "category": "DeveloperTool",
        "publisher": "Crabby Craft",
        "copyright": "Copyright © 2025 Crabby Craft",
        "shortDescription": "A Tauri application",
        "longDescription": "A Torao with a Rust backend and Lit web components",
        "createUpdaterArtifacts": true,
        "targets": "all",
        "macOS": {
            "dmg": {
                "appPosition": {
                    "x": 150,
                    "y": 160
                },
                "applicationFolderPosition": {
                    "x": 445,
                    "y": 160
                },
                "windowSize": {
                    "height": 355,
                    "width": 600
                }
            },
            "minimumSystemVersion": "11.0",
            "entitlements": "Info.plist",
            "providerShortName": null,
            "signingIdentity": null,
            "files": {}
        },
        "windows": {
            "allowDowngrades": true,
            "certificateThumbprint": null,
            "digestAlgorithm": null,
            "nsis": null,
            "timestampUrl": null,
            "tsp": false,
            "webviewInstallMode": {
                "silent": true,
                "type": "downloadBootstrapper"
            },
            "wix": null
        },
        "resources": [],
        "icon": [
            "icons/32x32.png",
            "icons/128x128.png",
            "icons/128x128@2x.png",
            "icons/icon.icns",
            "icons/icon.ico"
        ]
    },
    "plugins": {
        "updater": {
            "active": true,
            "dialog": true,
            "dangerousInsecureTransportProtocol": true,
            "windows": {
                "installMode": "passive"
            },
            "endpoints": [],
            "pubkey": "CHANGE_ME_WITH_ACTUAL_PUBLIC_KEY_GENERATED_FROM_TAURI_SIGNER_GENERATE"
        }
    }
}
