# -----------------------------------------------------------------------------
# This section is used for the app environment.
# -----------------------------------------------------------------------------
APP_MODE=production

# -----------------------------------------------------------------------------
# This section is used only when building the binary file (dev-only).
# -----------------------------------------------------------------------------
TAURI_SIGNING_PUBLIC_KEY="CHANGE_ME_WITH_ACTUAL_PUBLIC_KEY_GENERATED_FROM_TAURI_SIGNER_GENERATE"
TAURI_SIGNING_PRIVATE_KEY="CHANGE_ME_WITH_ACTUAL_PRIVATE_KEY_GENERATED_FROM_TAURI_SIGNER_GENERATE"
TAURI_SIGNING_PRIVATE_KEY_PASSWORD="CHANGE_ME_WITH_ACTUAL_VALUE"
ENABLE_CODE_SIGNING=false
# APPLE_CERTIFICATE=
# APPLE_CERTIFICATE_PASSWORD=
# APPLE_SIGNING_IDENTITY=
# APPLE_ID=
# APPLE_PASSWORD=
# APPLE_API_ISSUER=
# APPLE_API_KEY=
# APPLE_PROVIDER_SHORT_NAME=

# -----------------------------------------------------------------------------
# This section is used for uploading artifacts to S3 (dev-only).
# -----------------------------------------------------------------------------
S3_ACCESS_KEY_ID=s3admin
S3_SECRET_ACCESS_KEY=s3passw0rd
S3_BUCKET_DEFAULT=artifacts
S3_FORCE_PATH_STYLE=true
S3_PATH_PREFIX=null
S3_ENDPOINT_URL=http://localhost:9100
S3_PUBLIC_URL=http://localhost:9180
S3_REGION=auto
