{
    "version": "0.0.0",
    "notes": "Various improvements and bug fixes",
    "pub_date": "YYYY-MM-DDT00:HH:MM.SSSZ",
    "platforms": {
        "darwin-aarch64": {
            "url": "S3_PUBLIC_URL/S3_PATH_PREFIX/tauri-start-solid_0.0.0_darwin_aarch64_debug.gz",
            "signature": "_REPLACE_WITH_GENERATED_SIGNATURE_"
        },
        "darwin-x86_64": {
            "url": "S3_PUBLIC_URL/S3_PATH_PREFIX/tauri-start-solid_0.0.0_darwin_x86_64_debug.gz",
            "signature": "_REPLACE_WITH_GENERATED_SIGNATURE_"
        }
    }
}
